/***********************************************/
/***************** tekst ***********************/

/*Jeg bruger font-face til at finde fontén på computeren*/
@font-face {
    font-family: "gill-sans";
    src: url("/fonts/gills_sv/GillSans-Light.ttf");
}
/*Jeg giver en font til h1, h2 og h3*/
h1,
h2,
h3 {
    font-family: "gill-sans;
}

/*h1 er til banneret på hver side*/
h1 {
    background-color: #ECE8E3;
    width: 100%;
    text-align: center; /*Centerer teksten*/
    font-size: 30px;
    padding: 30px;
    margin: 0;
}

/*Jeg giver en font til body*/
body {
    font-family: "gill-sans", sans-serif;
    margin: 0;
}

/***********************************************/
/***************** Sidelayout ******************/

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

* {
    box-sizing: border-box;
}

/***********************************************/
/***************** mobil nav *******************/

/*Jeg bruger flex til at bestemme retningen for min navbar og centerer den derefter*/
#menu {
    /* placering af menu (Gør så jeg kan placere navbaren i forhold til browser)*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    background-color:white;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Jeg løfter menuen over andet content*/
    z-index: 5;
    /* menubaren animeres ind*/
    transition: left 0.3s linear;
}

/*Denne style bliver brugt når der er #menu i url'en. Det bruger jeg til at vise navbaren, når jeg trykker på "åben navbar" ikonet*/
#menu:target {
    left: 0;
}

/*Jeg fjerner punkterne fra listen*/
#menuPunkter {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    color: none;
    text-decoration: none;
    /*Flex bruges til at ligge links under hinanden og centere dem*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Jeg adskiller mine menupunkter lidt*/
#menuPunkter a {
    font-size: 30px;
    font-family: "Baskervville", serif;
    display: block;
    margin: 0px;
    padding: 20px;
    /*Jeg fjerner stregen og ændre farven*/
    color:  black;
    text-decoration: none;
    text-shadow: 0px 1px 6px #0000001d;
}

/***********************************************/
/************ mobil nav knapper ****************/

#closeNav,
#openNav {
    /*Gør så jeg kan placere krydset i navbaren som jeg vil*/
    position: absolute;
    top: 40px;
    text-decoration: none;
    font-size: 25px;
    color: black;
  
}

/*knapper til åben og luk af navbar*/
#closeNav {
    right: 40px;
}
#openNav {
    left: 20px;

}

/***********************************************/
/************ mobil nav logo *******************/

/*logoet i navbaren*/
#logo {
    width: 50%;
    display: block;
    
}

/*Jeg giver logoet 50% af forældrens 100%*/
#logo img {
    width: 100%;
}

/***********************************************/
/*************** mobil topbar ******************/

header {
    display: flex;
    justify-content: center;
    background-color: white;
}

/*Tilpasning af logo i toppen på mobil*/
#logoTop,
#logoTopDesktop {
    /*Fordi der er et link sætter jeg display block for at kunne bruge margin og width*/
    display: block;
    width: 30%;
   
    max-width: 300px;
    padding: 10px;
    
}

#logoTop img,
#logoTopDesktop img {
    width: 80%;
   text-align: center;
}

#menuPunkter #logoTopDesktop {
    display: none;
 justify-content: center;
    
}


.nav-link {
    flex: 1; 
}  
/***********************************************/
/********* stylesheet for konkurrence **************/

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 30px; /* Add a top margin */
    margin-bottom: 30px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    border-color: black;
    font-family: "gill-sans", sans-serif; 
    
}

#konkurrence  {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/* Style knappen med en specifik baggrunds farve osv.  */
#contactButton {
    background-color: #ECE8E3;
    color: black;
    padding: 10px 70px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 20px;
    
    
    
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
   
    
    
}
label {
    color: black;
}

#konkurrencetext {
    display: flex; 
    flex-direction:column ;
    text-align: center;
    justify-content:center;
    line-height: 50px; 
    padding: 50px; 
    border: 10px; 
    
   

}

/***********************************************/
/************ mobil Landingpage ****************/

/*Jeg laver css specifikt til headeren på min landingpage*/
#landingHeader {
    height: 115px;
    background-color: #ECE8E3; 
    width: 100%;
    
    
}

#landingHeader #logoTop {
    /*Logoet ligges ud over header (en del af det ønskede design)*/
    position: absolute;
}

#landingMain {
    /*Bagrundsbilledet ligges ind*/
    background-image: url(/images/pige.images.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#landingMain .subpages {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    padding: 10% 0;
    flex: 1;
}

#landingMain .subpage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landingMain .subpages a {
    /*Der ligges en baggrundsfarve på mit a tags og de styles*/
  
    width: 80%;
    padding: 15px;
    font-family: "Baskervville", serif;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

/***********************************************/
/********** stylesheet for Inspiration **************/

.gallery {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}


#gallery1,
#gallery2,
#gallery3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

#gallery1 img,
#gallery2 img,
#gallery3 img {
    width: 100%;
}

#gallery1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gallery2,
#gallery3 {
    display: none;
}
/***********************************************/
/********** stylesheet for sugerør ***************/

#sugerorMain {
    display: flex;
    flex-direction: column;
}

#sugerorBackground {
    background-image: url(/images/sugeror.png);
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px ;
    width: 380px;
    opacity: 80%; 
    
 
}

#sugerorImage {
    display: none;
    
}

#textsugeror {
    
    width: 90%;
    font-size: 50px;
    border: 1px solid black;
}

#textsugeror p {
    margin: 2%;
    font-size: 20px;
    text-align: center; 
    padding: 25px 0; 
     
    
}

/***********************************************/
/********** stylesheet for footer **************/
.footer {
    background-color: #ECE8E3;
    padding: 10px 20px;
    text-align: left;
    background-size: 100%;
    display: flex;
}



.footerlogo img {
    width: 10%; 
    padding: 1px 10px; 
    display: flex; 
    align-items: center; 
    
    
}
p {
    margin: 5px;
    font-size: 14px;
}



/***********************************************/
/********* mediaquery til tablet ***************/

@media only screen and (min-width: 700px) {
    /* jeg tilpasser gallery til tablet*/
    .gallery {
        padding: 80px;
        align-items: flex-start;
    }

    #gallery1,
    #gallery2 {
        display: flex;
        width: 40%;
    }
    /*jeg tilpasser landingpage til tablet*/
    #landingMain .subpages {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
        opacity: 75%; 
        
    }

    #landingMain .subpage {
        width: 40%;
        margin: 20px;
    }

    #landingMain .subpage:last-child {
        width: 90%;
    }

    #landingMain .subpages a {
        width: 100%;
    }

    .footer {
        padding-left: 70px;
        padding-right: 70px;
    }

    /*Vi tilpasser KONKURRENCE til tablet*/

    #form {
        width: 300px;
    }
     #sugerorBackground {
        
        max-width: 1200px;
        width: 100%;
    }
    
}



/***********************************************/
/********* mediaquery til web ******************/

@media only screen and (min-width: 1200px) {
    /*jeg tilpasser naven til tablet*/
    #closeNav,
    #openNav,
    #logo,
    #logoTop {
        /*Disse funktioner vil jeg ikke vise*/
        display: none;
    }

    #menuPunkter #logoTopDesktop {
        display: block;
        padding: 10;
        width: 150px;
    }

    #menuPunkter #logoTopDesktop a {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
        
    }

    #menu {
        position: relative;
        left: 0;
        padding: 0;
        height: 100%;
    }

    #menuPunkter {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin: 0;
    }

    #menuPunkter a {
        color: black;
        text-align: center; 
    }
    /*jeg tilpasser footer til web*/

    #socialmedie {
        padding-left: 250px;
    }

    /*jeg tilpasser gallery til web*/
    #galleryMain {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gallery {
        max-width: 1200px;
    }
    #gallery1,
    #gallery2,
    #gallery3 {
        display: flex;
        width: 30%;
    }
    /*jeg tilpasser sugeror til web*/
    #sugerorImage {
        display: block;
        width: 50%;
    }

    #textsugeror {
        width: 40%;
      
    }

    #sugerorBackground {
        background-image: none;
        justify-content: space-around;
        align-items: flex-start;
        max-width: 1200px;
        width: 70%;
    }

    #sugerorMain {
        align-items: center;
    }

    /*jeg tilpasser landingpage til web*/
    #landingHeader #logoTopDesktop {
        width: 45%;
        padding: 40px 30px 20px;
        
    }

    #landingMain {
        background-image: none;
        height: 1px;
        
    }

    #landingMain .subpages {
        flex-wrap: nowrap;
        padding: 50px;
        opacity: 75% ; 
        
    }

    #landingMain .subpage:hover {
        filter: brightness(80%);
    }

    #landingMain .subpage,
    #landingMain .subpage:last-child {
        flex: 1;
        height: 100%;
        margin: 20;
        background-size: cover;
        background-position: center;
        transition: all 0.2s linear;
        padding: 40px ;  
    }

    #landing1 {
        background-image: url(/images/IMG_1024%203.jpg);
       
    }

    #landing2 {
        background-image: url(/images/IMG_1050%203.jpg);
    }

    #landing3 {
        background-image: url(/images/sofa.images.JPG);
    }
    #landing4 {
        background-image: url(/images/pige.images.jpg);
    }


    #form {
    }

    }